# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BallsBoom!.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub Repositories\BallsBoom!\.idea\.idea.BallsBoom!\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
